<template>
  <div>
    <div class="task">
      <h1>Daily Task</h1>
      <form @submit.prevent="addTask">
        <div class="form-group row">
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="nama"
              placeholder="Add Task.."
              v-model="apa"
            />
          </div>
          <button type="submit" class="btn btn-primary">Tambah</button>
        </div>
      </form>
      <ul class="list-group" v-if="tasks.length">
        <li class="list-group-item" v-for="(task, index) in tasks" :key="index">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              @click="setCompleted(index)"
              value
              :id="index"
            />
            <label
              :class="[{'is-done': task.isComplete}, 'form-check-label']"
              :for="index"
            >{{task.nama}}</label>
            <a href="#" @click="Delete(index)" class="float-right">Hapus</a>
          </div>
        </li>
      </ul>
      <div v-else>Isi dulu coy</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "task",
  data() {
    return {
      tasks: [
        {
          nama: "Saya",
          isComplete: false
        },
        {
          nama: "Sigit",
          isComplete: false
        },
        {
          nama: "Saya",
          isComplete: false
        }
      ],
      apa: ""
    };
  },
  methods: {
    addTask() {
      this.tasks.push({
        nama: this.apa,
        isComplete: false
      });
      this.apa = "";
    },
    Delete(id) {
      this.tasks.splice(id, 1);
    },
    setCompleted(index) {
      this.tasks[index].isComplete = !this.tasks[index].isComplete;
    }
  }
};
</script>

<style>
.is-done {
  text-decoration: line-through;
}
</style>