<template>
  <div id="app">
    <div class="container">
      <div class="col-sm-6 offset-3">
        <router-view />
      </div>
    </div>
  </div>
</template>

<style>
@import url("~bootstrap/dist/css/bootstrap.min.css");
</style>